.advantages {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  & .link {
    display: block;
    margin-bottom: 30px;
  }

  &__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 2;
  }
}

.advantages__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.06em;
}

.advantages__item {
  display: block;
  padding: 0;
  max-width: 270px;
  & + & {
    margin-bottom: 30px;
    @media screen and (min-width$tablet) {
      margin-left: 30px;
    }
  }
}

.advantages__rectangle {
  display: inline-block;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;

  & .icon {
    width: 70px;
    height: 70px;
  }
}
