.galery-section {
  padding-top: 0;
}

.galery.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.examples {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-height: 404px;
  margin-bottom: 30px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
    margin-left: 0;
    width: 354px;
    height: 294px;

    &:nth-last-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 311px;

    &:nth-last-child(2n) {
      margin-right: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  &__img {
    width: inherit;
    height: inherit;
  }

  &__header {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;

    @media screen and (min-width: $mobile) {
      width: 450px;
      height: 294px;
    }

    @media screen and (min-width: $tablet) {
      width: 354px;
      height: 294px;
    }
  }

  &__name {
    white-space: nowrap;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-sort {
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    transition-duration: 0;
  }

  &__link {
    display: block;
    &:hover {
      color: currentColor;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 0;
    }
  }

  &__overlay {
    display: inline-block;
    content: '';
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    transition: transform 250ms $timingFunction;
    transform: translateY(100%);
    padding: 63px 24px;

    background-color: $accentColorPictures;

    &:hover & {
      opacity: 1;
      transform: translateY(0);
    }

    @media screen and (min-width: $tablet) {
      width: 100%;
      opacity: 1;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 1.56;
    margin: 0;
    color: $primaryWhiteColor;
  }
}

.card-bottom {
  padding: 20px 24px;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  @media screen and (min-width: $tablet) {
    width: 354px;
  }
}

// &:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }
