.company-logo {
  display: block;
  white-space: nowrap;

  color: $accentColor;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;

  @media screen and (min-width: $mobile) {
    margin-right: 81px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    margin-right: 85px;
  }
}

.company-logo__text {
  color: $titleTextColor;
  &--white {
    color: $primaryWhiteColor;
  }
}

.footer__logo {
  @extend.company-logo;
  display: block;

  margin-bottom: 20px;
  // margin-bottom: 10px;
  margin-right: 0;
}
