.team-section {
  background: #f5f4fa;
}

.our-team-container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  & .title {
    margin-bottom: 50px;
  }
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }

  &-card {
    display: block;
    max-width: 450px;
    padding-bottom: 24px;

    background-color: $primaryWhiteColor;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
      max-width: 354px;

      margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 270px;

      margin-bottom: 0;
    }
  }

  &-card + &-card {
    margin-top: 30px;
    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 0;
      margin-left: 30px;
    }
  }

  &-card:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: $tablet) {
    &-card:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  &-picture {
    display: block;
    margin-bottom: 30px;
  }

  &-name,
  &-profession {
    font-size: 16px;
    line-height: 1.19;
  }

  &-name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &-profession {
    margin-top: 0;
    margin-bottom: 16px;
  }
}
