.what-we-do {
  border-top: 1px solid #ececec;
}

.what-we-do-container {
  display: block;
  & .title {
    margin-bottom: 50px;
  }
}

.applications {
  display: flex;

  & .item + .item {
    margin-left: 30px;
  }

  &-type {
    padding-top: 27px;
    padding-bottom: 27px;

    width: 100%;
    height: 70px;

    position: absolute;

    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;

    text-align: center;

    color: $primaryWhiteColor;
    background-color: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
  }

  &-image {
    display: block;
    border-radius: none;
  }
}

.applications-card {
  position: relative;
  &.link {
    display: block;
  }
}
